.profile-card {
  width: 271px;
  height: 317px;
}

.main-button {
}

.logo {
  position: absolute;
  margin-left: -65px;
}

.nav-link-custom {
  margin-right: 2.5px;
  margin-left: 2.5px;
}

.mission-statement {
  font-size: 17px;
}

.about-2-txt-cont {
  padding: 0;
  margin-left: 10px;
}

.about-2-img-cont {
  padding: 0;
  margin-right: 10px;
}

.section-about-2 {
  padding: 100px 0 100px 0;
}

@media(max-width: 768px) {
  .doctors {
    margin-bottom: 70px;
  }

  .questions {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .full-screen-links {
    margin-left: 120px;
  }
}

.hdr-grey {
  color: $onyx;
}

.lowercase {
  text-transform: none;
}

.navbar-brand > img {
  margin: 0 auto;
}

.dark-text {
  color: $onyx;
}

.bottom-spacer {
  margin-bottom: 3.5rem;
}

.paragraph {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.7;
}

@media (max-width: 1194px) {
  .form-spacer {
    margin-bottom: 1.5rem;
  }
}
