.dr-boorin {
  width: 271px;
  height: 317px;
}

.main-button {
}

.logo {
  position: absolute;
  margin-left: -65px;
}

.nav-link-custom {
  margin-right: 2.5px;
  margin-left: 2.5px;
}

@media (min-width: 768px) {
  .full-screen-links {
    margin-left: 80px;
  }
}
