---
title: For Patients
---

<section id="inner-header" class="inner-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-left">For Patients</h2>
      </div>

      <div class="col-lg-12">
        <ul class="inner-nav nav nav-pills nav-justified">
          <li class="active"><a class="nav-link inner-page-tab">General Information</a></li>
          <li><a class="nav-link inner-page-tab">Adult Patients</a></li>
          <li><a class="nav-link inner-page-tab">Pediatric Patients</a></li>
          <li><a class="nav-link inner-page-tab">Patients with Special Needs</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>

<section id="about-5" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="general-information-section">
        <h2 class="section-title">General Information</h2>
        <div class="section-text">
          <p>
            Imagine a surgery where you have control. No unnecessary hospital delays. No need to arrive two hours prior to your procedure. You know the dentist performing your or your child's dental work. No discharge delays - you leave as soon as it is safe to do so. You know your anesthesiologist - you speak with him well before the day of surgery to discuss your needs. These are a few of the distinct advantages to having your procedure completed in an office-based setting. Below you will find additional details relevant to arranging your procedure in conjunction with our anesthesia services.
          </p>
        </div>

        <div class="section-grouping">
          <h4 class="section-header">
            Scheduling
          </h4>

          <div class="section-text">
            <p>
              Our office does not directly schedule appointments for treatment with patients. We work directly with your dentist or surgeon to provide available days that allow scheduling you or your family. Therefore scheduling begins with contacting and consulting your or your child’s dentist or surgeon. Your dentist’s office staff will then contact our office manager, Merle, to arrange for a scheduled treatment appointment with anesthesia services. We strive to maintain scheduled commitments and remain on time. We appreciate your compromises to arrange for a suitable date and time for your treatment visit.

              In view of the time and coordination between our staff and your dentist’s office, as well as the urgency of other patient’s needs, any anticipated time conflicts should be discussed in advance. Given advanced notice, we will be happy to reschedule your anesthesia services if you experience unavoidable conflicts.

              In special circumstances or at the discretion of Dr. Boorin, we may ask for a scheduled anesthesia consultation to evaluate the suitability of providing an office anesthetic. At this visit, the patient and, where applicable, the family is interviewed. The patient will be briefly examined to consider options for his or her anesthesia care. In most cases the consultation is completed in the office of the treating dentist but on occasion, as necessary, a second location may be chosen for convenience to everyone.
            </p>
          </div>
        </div>

        <div class="section-grouping">
          <h4 class="section-header">
            Financial
          </h4>

          <div class="section-text">
            <p>
              Everyone benefits when definite financial arrangements are agreed upon in advance. Accordingly the following information is provided to acquaint our patients with our financial policies.

              Our practice does not directly participate with medical or dental insurance plans. Therefore payment for our anesthesia services is due in full on the day of the treatment or surgery.

              Due to the time, effort and coordination involved with scheduling each patient, and the urgency of treatment required by some of our patients we require an advance deposit payable at the time your appointment date is confirmed. The deposit is refundable until 48 hours prior to the scheduled date of treatment by request. If a decision is made by a patient to cancel the surgery within 48 hours of the scheduled treatment or fails to abide by specific preoperative instructions provided by Dr. Boorin the deposit will be forfeit.

              A financial agreement form is included in the anesthesia packet you received from either Dr. Boorin’s office or the treating dentist/surgeon. This agreement should be reviewed and returned with the medical history questionnaire and preoperative instruction forms.

              It is important that insurance reimbursement for the anesthesia fee not be assumed. Many insurance plans DO NOT reimburse for anesthesia services associated with dental treatment or they have specific limitations or restrictions. Please contact and check with your dental and/or medical insurance company representative to discuss your specific benefits.

              You will receive a detailed Anesthesia Services Billing Statement at the conclusion of office anesthesia procedure. This form can be submitted directly to your insurance carrier for reimbursement, however, we will be happy to complete an insurance form provided to us, either on the day of treatment or at a later time.
            </p>
          </div>
        </div>

        <div class="section-grouping">
          <h4 class="section-header">
            Deposits
          </h4>

          <div class="section-text">
            <p>
              As stated in the previous section, due to the time, effort and coordination involved with scheduling each
              patient, and the urgency of treatment required by some of our patients we require an advance deposit payable at the time your appointment date is confirmed.

              Our office staff will discuss the deposit at the time you are contacted to discuss the planned anesthetic, review general information as well as health information. You will be asked to forward payment of the deposit by credit card, personal check [as long as there is sufficient time prior to the scheduled date of the procedure], money order or cash [which will usually can be given to the office of the treating dentist for your convenience].

              The deposit is refundable until 1 week prior to the scheduled date of treatment by request. If a decision is made by a patient to cancel the surgery within 1 week of the scheduled treatment or fails to abide by specific preoperative instructions provided by Dr. Boorin, the deposit will be forfeit.

              If there is an illness experienced by the patient immediately prior to or on the date of treatment and the procedure must be rescheduled then there is no loss of the deposit which is held for the upcoming treatment.
            </p>
          </div>
        </div>
      </div>

      <div class="adult-patients-section">
      </div>

      <div class="pediatric-patients-section">
      </div>

      <div class="patients-w-special-needs-section">
      </div>
    </div>
  </div>
</div>
</section>
