---
title: For Patients
---

<section id="inner-header" class="inner-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h2 class="text-left">For Patients</h2>
      </div>

      <div class="col-lg-12">
        <ul class="inner-nav nav nav-pills nav-justified">
          <li><a class="nav-link inner-page-tab">General Information</a></li>
          <li><a class="nav-link inner-page-tab">Adult Patients</a></li>
          <li><a class="nav-link inner-page-tab">Pediatric Patients</a></li>
          <li><a class="nav-link inner-page-tab">Patients with Special Needs</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>

<section id="about-5" class="section-padding">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
