---
title: For Patients
---

<section id="inner-header" class="inner-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-left">For Patients</h2>
      </div>

      <div class="col-lg-12">
        <ul class="inner-nav nav nav-pills nav-justified">
          <li id="general-information" class="active"><a class="nav-link inner-page-tab">General Information</a></li>
          <li id="adult-patients"><a class="nav-link inner-page-tab">Adult Patients</a></li>
          <li id="pediatric-patients"><a class="nav-link inner-page-tab">Pediatric Patients</a></li>
          <li id="patients-w-special-needs"><a class="nav-link inner-page-tab">Patients with Special Needs</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>

<section id="for-patients-section" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="general-information-section">
        <h1 class="section-title">General Information</h2>
        <div class="section-text">
          <p>
            Imagine a surgery where you have control. No unnecessary hospital delays. No need to arrive two hours prior to your procedure. You know the dentist performing your or your child's dental work. No discharge delays - you leave as soon as it is safe to do so. You know your anesthesiologist - you speak with him well before the day of surgery to discuss your needs. These are a few of the distinct advantages to having your procedure completed in an office-based setting. Below you will find additional details relevant to arranging your procedure in conjunction with our anesthesia services.
          </p>
        </div>

        <div class="section-grouping">
          <h4 class="section-header">
            Scheduling
          </h4>

          <div class="section-text">
            <p>
              Our office does not directly schedule appointments for treatment with patients. We work directly with your dentist or surgeon to provide available days that allow scheduling you or your family. Therefore scheduling begins with contacting and consulting your or your child’s dentist or surgeon. Your dentist’s office staff will then contact our office manager, Merle, to arrange for a scheduled treatment appointment with anesthesia services. We strive to maintain scheduled commitments and remain on time. We appreciate your compromises to arrange for a suitable date and time for your treatment visit.

              In view of the time and coordination between our staff and your dentist’s office, as well as the urgency of other patient’s needs, any anticipated time conflicts should be discussed in advance. Given advanced notice, we will be happy to reschedule your anesthesia services if you experience unavoidable conflicts.

              In special circumstances or at the discretion of Dr. Boorin, we may ask for a scheduled anesthesia consultation to evaluate the suitability of providing an office anesthetic. At this visit, the patient and, where applicable, the family is interviewed. The patient will be briefly examined to consider options for his or her anesthesia care. In most cases the consultation is completed in the office of the treating dentist but on occasion, as necessary, a second location may be chosen for convenience to everyone.
            </p>
          </div>
        </div>

        <div class="section-grouping">
          <h4 class="section-header">
            Financial
          </h4>

          <div class="section-text">
            <p>
              Everyone benefits when definite financial arrangements are agreed upon in advance. Accordingly the following information is provided to acquaint our patients with our financial policies.

              Our practice does not directly participate with medical or dental insurance plans. Therefore payment for our anesthesia services is due in full on the day of the treatment or surgery.

              Due to the time, effort and coordination involved with scheduling each patient, and the urgency of treatment required by some of our patients we require an advance deposit payable at the time your appointment date is confirmed. The deposit is refundable until 48 hours prior to the scheduled date of treatment by request. If a decision is made by a patient to cancel the surgery within 48 hours of the scheduled treatment or fails to abide by specific preoperative instructions provided by Dr. Boorin the deposit will be forfeit.

              A financial agreement form is included in the anesthesia packet you received from either Dr. Boorin’s office or the treating dentist/surgeon. This agreement should be reviewed and returned with the medical history questionnaire and preoperative instruction forms.

              It is important that insurance reimbursement for the anesthesia fee not be assumed. Many insurance plans DO NOT reimburse for anesthesia services associated with dental treatment or they have specific limitations or restrictions. Please contact and check with your dental and/or medical insurance company representative to discuss your specific benefits.

              You will receive a detailed Anesthesia Services Billing Statement at the conclusion of office anesthesia procedure. This form can be submitted directly to your insurance carrier for reimbursement, however, we will be happy to complete an insurance form provided to us, either on the day of treatment or at a later time.
            </p>
          </div>
        </div>

        <div class="section-grouping">
          <h4 class="section-header">
            Deposits
          </h4>

          <div class="section-text">
            <p>
              As stated in the previous section, due to the time, effort and coordination involved with scheduling each
              patient, and the urgency of treatment required by some of our patients we require an advance deposit payable at the time your appointment date is confirmed.

              Our office staff will discuss the deposit at the time you are contacted to discuss the planned anesthetic, review general information as well as health information. You will be asked to forward payment of the deposit by credit card, personal check [as long as there is sufficient time prior to the scheduled date of the procedure], money order or cash [which will usually can be given to the office of the treating dentist for your convenience].

              The deposit is refundable until 1 week prior to the scheduled date of treatment by request. If a decision is made by a patient to cancel the surgery within 1 week of the scheduled treatment or fails to abide by specific preoperative instructions provided by Dr. Boorin, the deposit will be forfeit.

              If there is an illness experienced by the patient immediately prior to or on the date of treatment and the procedure must be rescheduled then there is no loss of the deposit which is held for the upcoming treatment.
            </p>
          </div>
        </div>
      </div>

      <div class="hidden adult-patients-section">
        <div class="section-grouping">
          <h1 class="section-title">Adult Patients</h1>
          <div class="section-text">
            <p>

              There are numerous reasons for choosing to utilize the services of an anesthesiologist to assist with the restoration of your oral health. You may have been thinking how you would prefer to not be fully awake during the proposed dental or surgical services. Alternatively, you may have been informed by your dentist, dental specialist, or surgeon that it is preferable to have the proposed treatment asleep for a number of reasons. These may include: individual anxiety or nervousness that either you or your dentist has identified, prior experiences you have had that you wish not to repeat, even specific smells, tastes or sounds associated with dental treatment. It is important to reflect on why this occurred in the past to help prevent future repetition, but we are here to help you move on with your oral health needs, rather than be impeded by them.

              Other important indications for the use of anesthesia services include: lengthy proposed procedures, unavoidable but anticipated surgical discomfort, prior unpleasant reactions to local anesthetics, and medical conditions that require monitoring during surgical or stressful events.
              </br>

              Thus, if you wish to:
              <ul class="paragraph-list">
                <li>
                  Avoid postponing or neglecting your dental health and restore a beautiful smile
                </li>

                <li>
                  Eliminate unpleasant experiences during dental treatment
                </li>

                <li>
                  With little or no memory of the experience
                </li>

                <li>
                  Complete needed dental treatment
                </li>

                <li>
                  Rapidly with fewer visits
                </li>

                <li>
                  Without pain
                </li>
              </ul>

              </br>

              <p>
              Please accept our offer to assist you, guide you, and work with you to accomplish your dental/oral health goals.

              One of the most important issues we repeatedly address is identifying and associating our practice with the practices of other highly qualified dentists, dental specialists and surgeons. As patients, we expect our dental clinicians, as with all medical specialists, to be well trained, experienced, possessing excellent communication skills and resourceful.

              As a clinician, Dr. Boorin has worked with many general dentists, dental specialists, and surgeons over several decades of practice and would be pleased to refer you to someone local to where you live or work. Upon an inquiry or request for services from a clinician with whom we have not previously worked we will evaluate a dentist’s office as suitable for anesthesia services. This is done fairly routinely and on a regular basis.

              We would be happy to discuss providing anesthesia services in the office of your dentist or specialist.
            </p>
            </p>
          </div>
        </div>
      </div>

      <div class="hidden pediatric-patients-section">
      </div>

      <div class="hidden patients-w-special-needs-section">
      </div>
    </div>
  </div>
</div>
</section>
