---
title: About Our Practice
---

<section id="inner-header" class="inner-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-header-txt-cont">
          <h2 class="text-left">About us</h2>
          <h6><a href="/" class="">Home</a> / About us</h6>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about-5" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6"><div class="about-5-img-cont"><img src="http://placehold.it/570x295" class="img-responsive" alt=""></div></div>
      <div class="col-lg-6">
        <div class="about-5-cont">
          <h3>Martin R. Boorin DMD Dentist Anesthesiologist</h3>
          <p>Dr. Boorin has provided sedation and general anesthesia for adults and children in the New York Metropolitan Region for over 23 years. Dr. Boorin is specifically disciplined in the provision of sedation and general anesthesia care in a variety of clinical settings: Hospital operating rooms, outpatient surgical centers, and dental offices. He is a graduate of the University of Connecticut School of Dental Medicine, and completed his two year Dental Anesthesiology residency at Long Island Jewish Medical Center. Dr. Boorin became a full-time anesthesiologist at Long Island Jewish Medical Center in 1992. He continues to provide anesthesia services to a diverse population of children and adults in private offices as well as an Attending Dentist Anesthesiologist at Stony Brook University Hospital, Stony Brook School of Dental Medicine, and Cohen Children’s Medical Center. Dr. Boorin has expertise in managing patients who are medically compromised, have mental and physical disabilities, as well as in management of difficult airways.

            Dr Boorin is the chief of the dental anesthesia section within the Department of Dental Medicine at Long Island Jewish Medical Center where he coordinates clinical and didactic education for pediatric and general dental residents. Dr. Boorin is an assistant clinical professor at the SUNY @ Stony Brook School of Dental Medicine and maintains a primary role in the clinical and didactic education responsibilities associated with the SUNY @ Stony Brook dental anesthesia resident training program. Dr. Boorin lectures to health care providers regionally and nationally on numerous topics involving anesthesia, peri-operative patient evaluation, and emergency management. He attends national anesthesia meetings and annually completes extensive medical and dental continuing education. Dr. Boorin is a diplomate member of the American Society of Dentist Anesthesiologists and the National Dental Board of Anesthesiology. Dr. Boorin is certified in ACLS and PALS. 
          </p>
</div>
      </div>
    </div>
    <div class="row">
    
      <div class="col-lg-6">
      <div class="about-5-cont">
         <h3>David Pfeffer DDS Dentist Anesthesiologist</h3>
         <p>David Pfeffer, DDS is a residency-trained, experienced dentist anesthesiologist, trained in the administration of sedation and general anesthesia in hospitals, ambulatory centers and private offices. He attended the University of Maryland School of Dentistry. Subsequently he completed a three-year General Practice Residency Medical Track and Dental Anesthesiology Residency at Stony Brook University Hospital, a level-one trauma center. In addition to practicing anesthesia, Dr. Pfeffer is a clinical assistant professor in the Departments of Hospital Dentistry and Dental Anesthesiology at the Stony Brook School of Dental Medicine where he works with dental residents in treating adults with special needs in Southampton Hospital. He has lectured to health care providers locally and regionally, as well as during national meetings.</p>

</div>
      </div>
       <div class="col-lg-6"> <div class="about-5-img-cont"><img src="http://placehold.it/570x295" class="img-responsive" alt=""></div></div>
    </div>
  </div>
</section>


<!-- <section id="about&#45;3" class=""> -->
<!--   <div class="container"> -->
<!--     <div class="row"> -->
<!--       <div class="col&#45;lg&#45;12"> -->
<!--         <div class="about&#45;3&#45;cont"> -->
<!--           <div class="col&#45;lg&#45;8"> -->
<!--             <div class="about&#45;3&#45;cont&#45;txt"> -->
<!--               <h3>What is Lorem Ipsum?</h3> -->
<!--               <p class="wow fadeInUp" style="visibility: visible; animation&#45;name: fadeInUp;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
<!--               <h4>Our Features?</h4> -->
<!--               <ul class="wow fadeInUp" style="visibility: visible; animation&#45;name: fadeInUp;"> -->
<!--                 <li><a href="#">Lorem Ipsum is simply dummy</a></li> -->
<!--                 <li><a href="#">Text of the printing and typesetting </a></li> -->
<!--                 <li><a href="#">Lorem Ipsum has been the industry's </a></li> -->
<!--                 <li><a href="#">Standard dummy text ever since the 1500s, </a></li> -->
<!--               </ul> -->
<!--             </div> -->
<!--           </div> -->
<!--           <div class="col&#45;lg&#45;4 no&#45;padding"><img src="images/about&#45;3.png" class="img&#45;responsive" alt=""></div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </section> -->
<section id="footer" class="">>
<div id="qnimate" class="off">
  <div id="search" class="open">
    <button data-widget="remove" id="removeClass" class="close" type="button">×</button>
    <form action="#" method="post" autocomplete="off">
      <input type="text" placeholder="Type search keywords here" value="" name="term" id="term">
      <button class="btn btn-primary btn-xl" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
    </form>
  </div>
</div>
