---
title: FAQs | Anethesia For Dental Health
---
<section id="inner-header" class="inner-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-header-txt-cont">
          <h2 class="text-left">FAQs</h2>
          <h6><a href="/" class="">Index</a> / FAQs</h6>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="faq" class="section-padding-ash">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-left">Anesthesia - General</h2>
        <hr class="hr-left">
        <div class="faq-cont" style="visibility: visible;">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What are some of the benefits of anesthesia in an office?
</a> </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">It helps anxious and phobic patients have dental work completed, usually in one appointment.
                  It eliminates a hyperactive gag reflex and it helps facilitate treatment in patients with low pain thresholds or in patients who cannot get numb from local anesthesia
                  Long or invasive dental and surgical procedures can be completed comfortably and quickly.
                  Children and others who cannot cooperate for dental work can complete dental treatment without any memory of being in the dental chair.
                  Patients save time and money compared to treatment in the hospital setting. You don’t need to arrive two hours prior to your procedure to check-in. No unnecessary delays in the operating room. No long recovery or checking-out phase - you go home as soon as it is safe to do so.
                  If you are being referred to a hospital for dental treatment by your dentist, you or your child will likely have the work done by residents who are still in training. Having work done in the familiar office of your own dentist ensures the top- notch quality of the work being done.
                
                </div>
              </div>
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Is anesthesia done in a private office safe?
                </a> </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">Yes. Our dentist anesthesiologists use the latest advances in anesthetic drugs and equipment to transform any dental office into an operating room. This includes hospital-grade monitoring, as well as emergency equipment. You or your child will continuously be monitored by one of our dedicated anesthesiologists throughout treatment including pulse oximetry, blood pressure, electrocardiography, temperature, and gas analysis. Anesthesia for Dental Health meets and exceeds all state requirements for in-office anesthesia.
                </div>
              </div>
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Will there be a breathing (endotracheal) tube?
                </a> </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">There are several different ways to perform general anesthesia. Upon the discretion of the anesthesiologists, you may or may not have an endotracheal (inside the windpipe) tube, a nasopharyngeal airway (placed in the nose) or a protective throat screen. This depends on individual patients, medical histories, and the type of procedure to be performed. Our anesthesiologists will contact you prior to your procedure to help customize your anesthetic plan to your specific needs and concerns.
                </div>
              </div>
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Why is a breathing tube necessary?</a> </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">A breathing tube primarily helps maintain a safe, open airway. The tube protects from allowing water, tooth particle, dental materials etc from entering the throat and lungs. As a secondary benefit, a breathing tube allows the dentist to work efficiently and effectively, minimizing the time the patient is asleep under anesthesia. We come to the office with the latest technology in video intubating equipment to make placing a breathing tube quick with minimal discomfort to the patient.
                </div>
              </div>
            </div>
            <!-- /.panel --> 
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">What are the common side effects of anesthesia?</a> </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">Side effects are typically mild in nature. Side effects include nausea, vomiting, sore throat shivering, and transient physical and mental impairment.
                </div>
              </div>
            </div>
            <!-- /.panel --> 
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">How will I feel after receiving anesthesia?</a> </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">Adults will feel sleepy, and slightly groggy for a few hours after the procedure. Your memory and judgement may be impaired for the remainder of the day. You may experience some discomfort associated with the surgery performed.
                  Children may experience dizziness as well. Crying is a normal response due to the dental work performed, grogginess, and unfamiliar surrounding. This is typically short-lived. Children recover from anesthesia relatively quickly and start to feel better after they have had something to eat and drink.
                </div>
              </div>
            </div>
            <!-- /.panel --> 
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Will my child remember the procedure?</a> </h4>
              </div>
              <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">You are always present when your child is awake; this includes the beginning of the anesthetic and later during the entire recovery period. Your child will awaken soon after their dentist or surgeon is finished without memories of the treatment, the intravenous tubing, or the monitors. Children typically remember nothing of the dental experience. Within several hours of returning home, they are usually interested only in returning to their usual routines and play.
                </div>
              </div>
            </div>
            <!-- /.panel --> 
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">What special preparation is needed for the anesthesia procedure?
                </a> </h4>
              </div>
              <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">Prior to your or your child’s appointment, Dr. Boorin, Dr. Pfeffer, and their staff will contact you to review the anesthesia plan. You will be informed about food and fluid intake restrictions. It is extremely important to not eat before anesthesia. If you or your child becomes sick prior to the scheduled procedure, you must contact the anesthesia office. Several recommendations will be made in preparation for the day of treatment. This will ensure a smooth transition from your arrival in the dentist’s office to discharge after recovering from the anesthesia. Children will be tired and sleepy following the anesthetic. You will need to return home and maintain minimal activity for your child until the next day. Your child may return to their regular routine the following day.
                </div>
              </div>
            </div>
            <!-- /.panel --> 
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Should I take my medications the morning of my procedure?
                </a> </h4>
              </div>
              <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">Every patient and their medical history is unique. Our anesthesiologist will contact you the night before your procedure to review which medications to take and which to delay until after the procedure. Know that it is OK to take morning medications with a sip of water, if instructed to do so.
                  I still have concerns and questions about anesthesia.
                  We are happy to speak to you at any time during the planning stages of the anesthesia visit, on the treatment day, as well as following the completion of treatment. Feel free to contact us at any time!
                </div>
              </div>
            </div>
            <!-- /.panel --> 

          </div>
        </div>
      </div>
    </div>

    <div class="row top-spacer">
      <div class="col-lg-12">
        <h2 class="text-left">Our Practice</h2>
        <hr class="hr-left">
        <div class="faq-cont" style="visibility: visible;">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What type of patients do you treat?
                </a> </h4>
              </div>
              <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">We serve several types of patients:
                  Pediatric: We love kids! We strive to make them feel comfortable throughout their visit.
                  Special Needs: We cater to those patients who may not be able to cooperate for dental procedures.
                  Phobic: We take your needs and concerns seriously and work hard to minimize stress and anxiety. We involve you throughout the entire process to make sure you are comfortable.
                  Patients with extensive dental needs: Sometimes work is performed better while the patient is asleep. Or perhaps you would rather be asleep for a long procedure. We are here to help you feel comfortable and to facilitate your sedation with uncompromising safety and care.
                </div>
              </div>
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What geographic area does your practice cover?
                </a> </h4>
              </div>
              <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">We currently serve Nassau and Suffolk Counties, the 5 boroughs of NYC, Westchester and Rockland Counties, Fairfield County in Connecticut as well as northern New Jersey.
                </div>
              </div>
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">Can you come to my dentist’s office too?
                </a> </h4>
              </div>
              <div id="collapseTwelve" class="panel-collapse collapse">
                <div class="panel-body">We would be happy to discuss providing anesthesia services in the office of your dentist or specialist. Upon an inquiry or request for services from a clinician with whom we have not previously worked we will evaluate a dentist’s office suitability for anesthesia services. This is done fairly routinely and on a regular basis.
                </div>
              </div>
            </div>
            <!-- /.panel -->
          </div>
        </div>
      </div>
    </div>

    <div class="row top-spacer">
      <div class="col-lg-12">
        <h2 class="text-left">Financial</h2>
        <hr class="hr-left">
        <div class="faq-cont" style="visibility: visible;">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">Will my insurance cover anesthesia services?
                </a> </h4>
              </div>
              <div id="collapseThirteen" class="panel-collapse collapse">
                <div class="panel-body">Some medical and dental insurances will cover total or partial payment for anesthesia services. We will bill your insurance as a courtesy, however, you will be required to cover payment the day or service. If you would like to inquire about preauthorization, feel free to contact us.
                </div>
              </div>
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">Is there a deposit?
                </a> </h4>
              </div>
              <div id="collapseFourteen" class="panel-collapse collapse">
                <div class="panel-body">Yes. Our office staff will discuss the deposit at the time you are contacted to discuss the planned anesthetic, review general information as well as health information.
                  The deposit is refundable until 1 week prior to the scheduled date of treatment by request. If a decision is made by a patient to cancel the surgery within 1 week of the scheduled treatment or fails to abide by specific preoperative instructions provided by Dr. Boorin the deposit will be forfeit.
                
                  If there is an illness experienced by the patient immediately prior to or on the date of treatment and the procedure must be rescheduled then there is no loss of the deposit which is held for the upcoming treatment.
                </div>
              </div>
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">What forms of payment do you accept?
                </a> </h4>
              </div>
              <div id="collapseFifteen" class="panel-collapse collapse">
                <div class="panel-body">
                  Payment of the deposit can be done by credit card, personal check (as long as there is sufficient time prior to the scheduled date of the procedure), money order or cash (which usually can be given to the office of the treating dentist for your convenience).
                  On the day of surgery, payment-in-full should preferably be paid with a credit card or cash.
                </div>
              </div>
            </div>
            <!-- /.panel -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
