---
title: About Our Practice | Anethesia For Dental Health
---

<section id="inner-header" class="inner-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-header-txt-cont">
          <h2 class="text-left">About Our Practice</h2>
          <h6><a href="/" class="">Home</a> / About Our Practice</h6>
        </div>
        <div class="col-lg-12">
          <ul class="inner-nav nav nav-pills nav-justified">
            <li id="meet-the-doctors" class="active"><a class="nav-link inner-page-tab">Meet The Doctors</a></li>
            <li id="our-services"><a class="nav-link inner-page-tab">Our Services</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about-5" class="meet-the-doctors-section section-padding">
  <div class="container">
    <div class="row">
        <h2 class="text-center">Meet The Doctors</h2>
        <div class="text-center">
          <hr class="hr-center">
        </div>

      <div class="col-lg-6"><div class="about-5-img-cont"><img src="../images/dr-boorin.jpg" class="img-responsive profile-card-large" alt=""></div></div>
      <div class="col-lg-6">
        <div class="about-5-cont">
          <h3>Martin R. Boorin DMD</h3>
          <h4>Dentist Anesthesiologist</h4>
          <p>
            Martin R. Boorin, DMD is an experienced, residency-trained, fully qualified dentist anesthesiologist. He is a graduate of the University of Connecticut, School of Dental Medicine and completed his two-year anesthesiology residency at Long Island Jewish Medical Center. Dr. Boorin has been in the practice of dental anesthesiology for 30 years including a full-time hospital anesthesia practice for thirteen years and has been a staff dentist anesthesiologist at Long Island Jewish Medical Center since completing his residency in 1987. He currently maintains a full time, office-based practice of dental anesthesiology in the tri-state region for pediatric, adult and special needs patients. Dr. Boorin is a clinical assistant professor, in the Departments of Hospital Dentistry and Dental Anesthesiology at the Stony Brook School of Dental Medicine and an attending dentist anesthesiologist at Stony Brook University Hospital. He is the section chief for dental anesthesiology in the Department of Dental Medicine at Long Island Jewish Medical Center. Dr. Boorin coordinates resident education and clinical care in both institutions and is one of several attendings supervising an accredited, nationally recognized dental anesthesiology resident training program. Dr. Boorin is a diplomate of the American Dental Board of Anesthesiology and the American Board of Oro-Facial Pain. He currently serves on the ADBA Board of Directors.
          </p>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-6"> <div class="about-5-img-cont"><img src="../images/dr-pfeffer.jpg" class="profile-card-large img-responsive" alt=""></div></div>
      <div class="col-lg-6">
        <div class="about-5-cont">
          <h3>David Pfeffer DDS</h3>
          <h4>Dentist Anesthesiologist</h4>
          <p>David Pfeffer, DDS is an experienced and highly qualified dentist anesthesiologist, trained in the administration of sedation and general anesthesia in hospitals, ambulatory centers and private offices. He attended the University of Maryland School of Dentistry and subsequently completed a three-year General Practice Residency Medical Track and Dental Anesthesiology Residency at Stony Brook University Hospital; a level-one trauma center. Dr. Pfeffer is a clinical assistant professor in the Departments of Oral and Maxillofacial Surgery, Divisions of Hospital Dentistry and Dental Anesthesiology at the Stony Brook School of Dental Medicine. In this capacity he supervises dental residents who provide dental treatment for adults with special needs in Southampton Hospital. Dr. Pfeffer is a diplomate of the American Dental Board of Anesthesia. He has lectured to health care providers locally and regionally, as well as during national meetings.</p>

        </div>
      </div>
    </div>
  </div>
</section>

<section id="about-5" class="our-services-section section-padding">
  <div class="container">
    <div class="row">
      <div class="section-grouping">

        <h2 class="text-center">Our Services</h2>
        <div class="text-center">
          <hr class="hr-center">
        </div>

        <div class="section-text">
          <p>
            Our practice is devoted to the provision of anesthesia services, including both general anesthesia and sedation, in the office of your dentist, dental specialist, or oral and maxillofacial surgeon. Office-based anesthesia services have become well established as a safe alternative to the hospital environment with proper clinician training, monitoring, preparation and experience. As such, we bring to each office all necessary anesthesia and resuscitation equipment. Each patient receives our undivided attention throughout their office visit.
            </br>
            </br>

            While receiving anesthesia services for some individuals is a natural and appropriate choice for completion of required dental / surgical treatment, parents of children and many adults may have concerns that we are happy to address. Our web site may answer some of your questions but, first and foremost, we encourage you to contact us to have all your remaining questions answered. Please feel free to ask questions throughout the treatment period, even after you are home! Nothing is more important than keeping you informed; from our initial conversations and directions on preparation for the anesthetic, to when you leave your doctor’s office comfortable and satisfied with your or your child’s recovery.

            </br>
            </br>

            As a consultant and a resource to your dentist or surgeon, we have already taken a considerable amount of time to review the anesthetic services we provide, the office resources and staff required, as well as the procedures that are followed to provide a safe anesthetic. If there is a dentist or dental specialist you wish us to contact on your behalf we will be happy to do that for you. We are frequently contacted by dentists searching for the availability of anesthesia services in the office environment.
            </br>
            </br>

            We provide office-based anesthesia services in Nassau, Suffolk, Queens, Manhattan, Rockland and Westchester County, New York, as well as in Fairfield County, Connecticut and Northern New Jersey.
          
            </br>
            </br>
          </p>
        </div>
      
      </div>
    </div>
  </div>
</section>


<!-- <section id="about&#45;3" class=""> -->
<!--   <div class="container"> -->
<!--     <div class="row"> -->
<!--       <div class="col&#45;lg&#45;12"> -->
<!--         <div class="about&#45;3&#45;cont"> -->
<!--           <div class="col&#45;lg&#45;8"> -->
<!--             <div class="about&#45;3&#45;cont&#45;txt"> -->
<!--               <h3>What is Lorem Ipsum?</h3> -->
<!--               <p class="wow fadeInUp" style="visibility: visible; animation&#45;name: fadeInUp;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
<!--               <h4>Our Features?</h4> -->
<!--               <ul class="wow fadeInUp" style="visibility: visible; animation&#45;name: fadeInUp;"> -->
<!--                 <li><a href="#">Lorem Ipsum is simply dummy</a></li> -->
<!--                 <li><a href="#">Text of the printing and typesetting </a></li> -->
<!--                 <li><a href="#">Lorem Ipsum has been the industry's </a></li> -->
<!--                 <li><a href="#">Standard dummy text ever since the 1500s, </a></li> -->
<!--               </ul> -->
<!--             </div> -->
<!--           </div> -->
<!--           <div class="col&#45;lg&#45;4 no&#45;padding"><img src="images/about&#45;3.png" class="img&#45;responsive" alt=""></div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </section> -->
<!-- <section id="footer" class=""> -->
<!-- <div id="qnimate" class="off"> -->
<!--   <div id="search" class="open"> -->
<!--     <button data&#45;widget="remove" id="removeClass" class="close" type="button">×</button> -->
<!--     <form action="#" method="post" autocomplete="off"> -->
<!--       <input type="text" placeholder="Type search keywords here" value="" name="term" id="term"> -->
<!--       <button class="btn btn&#45;primary btn&#45;xl" type="submit"><span class="glyphicon glyphicon&#45;search"></span> Search</button> -->
<!--     </form> -->
<!--   </div> -->
<!-- </div> -->
<!-- </section> -->
