---
title: About Our Practice
---

<section id="inner-header" class="inner-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-header-txt-cont">
          <h2 class="text-left">About Our Practice</h2>
          <h6><a href="/" class="">Home</a> / About Our Practice</h6>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about-5" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6"><div class="about-5-img-cont"><img src="http://placehold.it/570x295" class="img-responsive" alt=""></div></div>
      <div class="col-lg-6">
        <div class="about-5-cont">
          <h3>Martin R. Boorin DMD Dentist Anesthesiologist</h3>
          <p>
            Martin R. Boorin, DMD is an experienced, residency-trained, fully qualified dentist anesthesiologist. He is a graduate of the University of Connecticut, School of Dental Medicine and completed his two-year anesthesiology residency at Long Island Jewish Medical Center. Dr. Boorin has been in the practice of dental anesthesiology for 30 years including a full-time hospital anesthesia practice for thirteen years and has been a staff dentist anesthesiologist at Long Island Jewish Medical Center since completing his residency in 1987. He currently maintains a full time, office-based practice of dental anesthesiology in the tri-state region for pediatric, adult and special needs patients. Dr. Boorin is a clinical assistant professor, in the Departments of Hospital Dentistry and Dental Anesthesiology at the Stony Brook School of Dental Medicine and an attending dentist anesthesiologist at Stony Brook University Hospital. He is the section chief for dental anesthesiology in the Department of Dental Medicine at Long Island Jewish Medical Center. Dr. Boorin coordinates resident education and clinical care in both institutions and is one of several attendings supervising an accredited, nationally recognized dental anesthesiology resident training program. Dr. Boorin is a diplomate of the American Dental Board of Anesthesia and has served on the ADBA Board of Directors. He is active in and lectured before numerous local and national professional organizations.
          </p>
</div>
      </div>
    </div>
    <div class="row">
    
      <div class="col-lg-6">
      <div class="about-5-cont">
         <h3>David Pfeffer DDS Dentist Anesthesiologist</h3>
         <p>David Pfeffer, DDS is a residency-trained, experienced dentist anesthesiologist, trained in the administration of sedation and general anesthesia in hospitals, ambulatory centers and private offices. He attended the University of Maryland School of Dentistry. Subsequently he completed a three-year General Practice Residency Medical Track and Dental Anesthesiology Residency at Stony Brook University Hospital, a level-one trauma center. In addition to practicing anesthesia, Dr. Pfeffer is a clinical assistant professor in the Departments of Hospital Dentistry and Dental Anesthesiology at the Stony Brook School of Dental Medicine where he works with dental residents in treating adults with special needs in Southampton Hospital. He has lectured to health care providers locally and regionally, as well as during national meetings.</p>

</div>
      </div>
       <div class="col-lg-6"> <div class="about-5-img-cont"><img src="http://placehold.it/570x295" class="img-responsive" alt=""></div></div>
    </div>
  </div>
</section>


<!-- <section id="about&#45;3" class=""> -->
<!--   <div class="container"> -->
<!--     <div class="row"> -->
<!--       <div class="col&#45;lg&#45;12"> -->
<!--         <div class="about&#45;3&#45;cont"> -->
<!--           <div class="col&#45;lg&#45;8"> -->
<!--             <div class="about&#45;3&#45;cont&#45;txt"> -->
<!--               <h3>What is Lorem Ipsum?</h3> -->
<!--               <p class="wow fadeInUp" style="visibility: visible; animation&#45;name: fadeInUp;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
<!--               <h4>Our Features?</h4> -->
<!--               <ul class="wow fadeInUp" style="visibility: visible; animation&#45;name: fadeInUp;"> -->
<!--                 <li><a href="#">Lorem Ipsum is simply dummy</a></li> -->
<!--                 <li><a href="#">Text of the printing and typesetting </a></li> -->
<!--                 <li><a href="#">Lorem Ipsum has been the industry's </a></li> -->
<!--                 <li><a href="#">Standard dummy text ever since the 1500s, </a></li> -->
<!--               </ul> -->
<!--             </div> -->
<!--           </div> -->
<!--           <div class="col&#45;lg&#45;4 no&#45;padding"><img src="images/about&#45;3.png" class="img&#45;responsive" alt=""></div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </section> -->
<section id="footer" class="">>
<div id="qnimate" class="off">
  <div id="search" class="open">
    <button data-widget="remove" id="removeClass" class="close" type="button">×</button>
    <form action="#" method="post" autocomplete="off">
      <input type="text" placeholder="Type search keywords here" value="" name="term" id="term">
      <button class="btn btn-primary btn-xl" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
    </form>
  </div>
</div>
