---
title: Dental Anesthesia | Anesthesia for Dental Health
---

<div class="preloader"></div>
<section id="banner-1">
  <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
    <!-- Carousel indicators -->
    <!-- <ol class="carousel&#45;indicators"> -->
    <!--   <li data&#45;target="#myCarousel" data&#45;slide&#45;to="0" class="active"></li> -->
    <!--   <li data&#45;target="#myCarousel" data&#45;slide&#45;to="1"></li> -->
    <!--   <li data&#45;target="#myCarousel" data&#45;slide&#45;to="2"></li> -->
    <!--   <li data&#45;target="#myCarousel" data&#45;slide&#45;to="3"></li> -->
    <!-- </ol> -->
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner"> 
      <!--1st item start-->
      <div class="item active"> <img src="images/header-2.jpeg" class="img-responsive" alt="First Slide Image">
        <div class="carousel-caption">
          <h1 class="wow slideInLeft text-left first-words hdr-grey">ANESTHESIA <span> FOR </span></h1>
          <h1 class="wow slideInLeft text-left first-words hdr-grey">DENTAL HEALTH</h1>
          <h4 class="wow slideInRight text-left hidden-xs"></h4>
          <div class="text-left hidden-xs"><a href="/contact" class="btn btn-primary btn-xl main-button">Contact Us!</a></div>
        </div>
      </div>
      <!--1st item end--> 
  <!--     <!&#45;&#45;2nd item start&#45;&#45;> -->
  <!--     <div class="item"> <img src="http://placehold.it/1500x650" class="img&#45;responsive" alt="Second Slide Image"> -->
  <!--       <div class="carousel&#45;caption"> -->
  <!--         <h1 class="wow text&#45;left slideInLeft color&#45;white">WE ARE PRO. BUY NOW</h1> -->
  <!--         <h4 class="wow text&#45;left slideInRight color&#45;white hidden&#45;xs">LOOKS LIKE YOU ARE INTERESTEDIN 'PRO' HDQ THEME.</h4> -->
  <!--         <div class="text&#45;left hidden&#45;xs"><a href="#" class="btn btn&#45;primary btn&#45;xl">Get Started!</a> &#38;nbsp; <a href="#" class="btn btn&#45;default btn&#45;xl">Get Started!</a></div> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--     <!&#45;&#45;2nd item end&#45;&#45;>  -->
  <!--     <!&#45;&#45;3rd item start&#45;&#45;> -->
  <!--     <div class="item"> <img src="http://placehold.it/1500x650" class="img&#45;responsive" alt="Third Slide Image"> -->
  <!--       <div class="carousel&#45;caption"> -->
  <!--         <h1 class="wow text&#45;left slideInLeft color&#45;white"><span>USE</span> IT FOR <span>ANY</span> KIND OF <span>BUSINESS</span></h1> -->
  <!--         <h4 class="wow text&#45;left slideInRight color&#45;white hidden&#45;xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br/> -->
  <!--           Lorem Ipsum has been the industry'sstandard dummy text ever since the.</h4> -->
  <!--         <div class="text&#45;left hidden&#45;xs"><a href="#" class="btn btn&#45;primary btn&#45;xl">Get Started!</a> &#38;nbsp; <a href="#" class="btn btn&#45;default btn&#45;xl">Get Started!</a></div> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--     <!&#45;&#45;3rd item end&#45;&#45;>  -->
  <!--     <!&#45;&#45;4th item start&#45;&#45;> -->
  <!--     <div class="item"> <img src="http://placehold.it/1500x650" class="img&#45;responsive" alt="Fourth Slide Image"> -->
  <!--       <div class="carousel&#45;caption"> -->
  <!--         <h1 class="wow text&#45;left slideInLeft color&#45;white">HIGH <span>QUALITY</span> WORK IN YOUR <span>BUDGET</span></h1> -->
  <!--         <h4 class="wow text&#45;left slideInRight color&#45;white hidden&#45;xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br/> -->
  <!--           Lorem Ipsum has been the industry'sstandard dummy text ever since the.</h4> -->
  <!--         <div class="text&#45;left hidden&#45;xs"><a href="#" class="btn btn&#45;primary btn&#45;xl">Get Started!</a> &#38;nbsp; <a href="#" class="btn btn&#45;default btn&#45;xl">Get Started!</a></div> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!--   <!&#45;&#45;4th item End&#45;&#45;>  -->
  <!-- </div> -->
  <!-- <!&#45;&#45; Carousel controls &#45;&#45;>  -->
  <!-- <a class="carousel&#45;control left hidden&#45;xs" href="#myCarousel" data&#45;slide="prev"> <span class="carousel&#45;arrow"> <i class="fa fa&#45;chevron&#45;left"></i></span> </a> <a class="carousel&#45;control right hidden&#45;xs" href="#myCarousel" data&#45;slide="next"> <span class="carousel&#45;arrow"><i class="fa fa&#45;chevron&#45;right"></i></span> </a>  -->
  <!-- <!&#45;&#45; Carousel Banner End &#45;&#45;>  -->
</section>
<section id="about-2" class="section-about-2">
  <a href="/about-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-2-img-cont"><img src="images/medical-splash.jpg" class="img-responsive" alt=""></div>
        </div>
        <div class="col-lg-6">
          <div class="about-2-txt-cont section-padding wow fadeInRight">
            <h5 class="text-left">Why Us?</h5>
            <h2 class="text-left">Our mission is to provide the highest standard of patient care and safety.</h2>
            <p class="mission-statement">At Anesthesia for Dental Health, we provide anesthesia services that are safe and comfortable for our patients in the familiar environment of their own dentist or surgeon.
              </p> <p class="mission-statement">Serving Nassau, Suffolk, Queens, Manhattan, Rockland and Westchester County, New York, as well as in Fairfield County, Connecticut and Northern New Jersey.
            </p>
            <!-- <a href="#" class="btn btn&#45;black btn&#45;xl">Get Started!</a> </div> -->
        </div>
      </div>
    </div>
  </a>
</section>
<section id="faq-team" class="section-padding-ash">
  <div class="container">
    <div class="row">
      <div class="doctors">
        <div class="col-lg-6">
          <h2 class="text-left">Meet The Doctors</h2>
          <hr class="hr-left">
          <div class="row">
            <div class="col-lg-6">
              <div class="team-cont"> <a href="/about-us"> <img class="profile-card" src="images/dr-boorin.png" class="img-responsive aligncenter" alt=""></a>
                <h4 class="text-center"><a href="#">Martin R. Boorin</a></h4>
                <h6 class="text-center">Dentist Anesthesiologist</h6>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="team-cont"><a href="/about-us"> <img class="profile-card" src="images/dr-pfeffer.jpg" class="img-responsive aligncenter" alt=""></a>
                <h4 class="text-center"><a href="#">David Pfeffer</a></h4>
                <h6 class="text-center">Dentist Anesthesiologist</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="col-lg-6">
          <h2 class="text-left">Common Questions</h2>
          <hr class="hr-left">
          <div class="faq-cont">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is general anesthesia and intravenous sedation?</a> </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    General anesthesia and intravenous sedation are anesthetic management techniques that use intravenous and inhalation anesthetics to provide a means of completing all of your children’s dental needs while he or she is comfortable, pain-free, and asleep. Medication is routinely administered intravenously rather than by gas anesthesia. The majority of our patients receive a light general anesthetic. 
                  </div>
                </div>
              </div>
              <!-- /.panel -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Will my child remember the treatment?</a> </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    You are always present when your child is awake; this includes the beginning of the anesthetic and later during the entire recovery period. Your child will awaken soon after their dentist or surgeon is finished without memories of the treatment, the intravenous tubing, or the monitors. Children typically remember nothing of the dental experience. Within several hours of returning home, they are usually interested only in returning to their usual routines and play. 
                  </div>
                </div>
              </div>
              <!-- /.panel -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Is anesthesia safe for my child?</a> </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    Dr. Boorin and Dr. Pfeffer are experienced clinicians, trained in the delivery of anesthesia for children. They are responsible for the continuous anesthetic management, comfort, and care of your child. 
                  </div>
                </div>
              </div>
              <!-- /.panel -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Does my insurance cover the cost of anesthesia?</a> </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                  <div class="panel-body">Many insurance providers do not cover the cost of anesthesia for dental treatment. It is important for you to contact both your medical and dental insurance carrier prior to your child’s appointment to confirm coverage. Letters of medical necessity by a pediatrician and/or your pediatric dentist may be required for insurance reimbursement.
                  </div>
                </div>
              </div>
              <!-- /.panel --> 

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">What special preparation is needed for the anesthesia appointment?</a> </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                  <div class="panel-body">Prior to your child’s appointment, Dr. Boorin, Dr. Pfeffer, and their staff will contact you to review your child’s anesthesia plan. You will be informed about food and fluid intake restrictions. It is extremely important to not eat before anesthesia. If your child becomes sick prior to the scheduled procedure, you must contact the anesthesia office.

                    Several recommendations will be made in preparation for the day of treatment. This will ensure a smooth transition from your arrival in the dentist’s office to discharge after your child’s recovery from the anesthesia.

                    Children will be tired and sleepy following the anesthetic. You will need to return home and maintain minimal activity for your child until the next day. Your child may return to their regular routine the following day. 
                  </div>
                </div>
              </div>
              <!-- /.panel --> 

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Is anesthesia safe for my child?</a> </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                  <div class="panel-body">Dr. Boorin and Dr. Pfeffer are experienced clinicians, trained in the delivery of anesthesia for children. They are responsible for the continuous anesthetic management, comfort, and care of your child. </div>
                </div>
              </div>
              <!-- /.panel --> 

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">We still have concerns and would like to speak to someone about the anesthetic appointment.</a> </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                  <div class="panel-body">We are happy to speak to you at any time during the planning stages of the anesthesia visit, on the treatment day, as well as following the completion of treatment. </div>
                </div>
              </div>
              <!-- /.panel --> 
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</section>
<section id="services-1" class="section-padding-ash">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="services-1-cont wow fadeIn" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s"> <img src="http://placehold.it/370x188" class="img-responsive" alt="">
          <div class="services-1-cont-text">
            <h4>Safety is Our Priority</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="services-1-cont wow fadeIn" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s"> <img src="http://placehold.it/370x188" class="img-responsive" alt="">
          <div class="services-1-cont-text">
            <h4>Caring For Our Patients</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="services-1-cont wow fadeIn" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s"> <img src="http://placehold.it/370x188" class="img-responsive" alt="">
          <div class="services-1-cont-text">
            <h4>Convenient and Comfortable</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section id="about&#45;1" class="section&#45;padding"> -->
<!--   <div class="container"> -->
<!--     <div class="row"> -->
<!--       <div class="col&#45;lg&#45;6"> -->
<!--         <div id="big&#45;image"> <img src="http://placehold.it/570x545?text=hi" alt=""> <img src="http://placehold.it/570x545?text=hello" alt=""> <img src="http://placehold.it/570x545?text=hay" alt=""> </div> -->
<!--       </div> -->
<!--       <div class="col&#45;lg&#45;6"> -->
<!--         <div class="about&#45;text&#45;cont"> -->
<!--           <div class="col&#45;lg&#45;12 no&#45;padding"> -->
<!--             <h2 class="text&#45;left wow fadeIn" data&#45;wow&#45;offset="30" data&#45;wow&#45;duration="1.5s" data&#45;wow&#45;delay="0.15s">Over 4,000 Certified Technicians</h2> -->
<!--             <hr class="hr&#45;left"> -->
<!--             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  -->
<!--               Lorem Ipsum has been the industry's standard dummy text ever since the  -->
<!--               1500s, when an unknown printer took a galley of type and scrambled it to  -->
<!--               make a type specimen book. It has survived not only five centuries, but also  -->
<!--               the leap into electronic typesetting, remaining essentially unchanged. </p> -->
<!--             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  -->
<!--               Lorem Ipsum has been the industry's standard dummy text ever since the  -->
<!--               1500s, when an unknown printer took a</p> -->
<!--           </div> -->
<!--           <div class="small&#45;images wow fadeIn" data&#45;wow&#45;offset="30" data&#45;wow&#45;duration="1.5s" data&#45;wow&#45;delay="0.15s"> -->
<!--             <div class="col&#45;lg&#45;12 no&#45;padding"> <img src="http://placehold.it/170x170" alt=""> <img src="http://placehold.it/170x170" alt=""> <img src="http://placehold.it/170x170" alt=""> </div> -->
<!--           </div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </section> -->
<section id="testimonials" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="testimonials-cont wow fadeIn">
          <div class="carousel slide" data-ride="carousel" id="quote-carousel"> 
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="http://placehold.it/128x128" alt=""> </li>
              <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="http://placehold.it/128x128" alt=""> </li>
              <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="http://placehold.it/128x128" alt=""> </li>
            </ol>
            
            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner text-center"> 
              
              <!-- Quote 1 -->
              <div class="item active">
                <blockquote>
                  <div class="row">
                    <div class="col-lg-12">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. !</p>
                      <small>Someone famous</small> </div>
                  </div>
                </blockquote>
              </div>
              <!-- Quote 2 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-lg-12">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                      <small>Someone famous</small> </div>
                  </div>
                </blockquote>
              </div>
              <!-- Quote 3 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-lg-12">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .</p>
                      <small>Someone famous</small> </div>
                  </div>
                </blockquote>
              </div>
            </div>
            
            <!-- Carousel Buttons Next/Prev --> 
            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a> <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a> </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="Blog-posts" class="section-padding-ash">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">Recent Posts</h2>
        <div class="text-center">
          <hr class="hr-center">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="blog-post-cont wow fadeIn" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s"> <img src="http://placehold.it/1000x650" class="img-responsive" alt="">
          <div class="blog-post-cont-text">
            <h4><a href="#">Lorem Ipsum is simply dummy</a></h4>
            <p class="blog-post-info"><strong>0</strong> Comments  | <strong>Author:</strong> Jack  | <strong>Date:</strong> 11-jan-2017</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy textever since the 1500s</p>
            <div class="text-left"><a href="#" class="btn btn-primary">Read More</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="blog-post-cont wow fadeIn" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s"> <img src="http://placehold.it/1000x650" class="img-responsive" alt="">
          <div class="blog-post-cont-text">
            <h4><a href="#">Lorem Ipsum is simply dummy</a></h4>
            <p class="blog-post-info"><strong>0</strong> Comments  | <strong>Author:</strong> Jack  | <strong>Date:</strong> 11-jan-2017</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy textever since the 1500s</p>
            <div class="text-left"><a href="#" class="btn btn-primary">Read More</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="blog-post-cont wow fadeIn" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s"> <img src="http://placehold.it/1000x650" class="img-responsive" alt="">
          <div class="blog-post-cont-text">
            <h4><a href="#">Lorem Ipsum is simply dummy</a></h4>
            <p class="blog-post-info"><strong>0</strong> Comments  | <strong>Author:</strong> Jack  | <strong>Date:</strong> 11-jan-2017</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy textever since the 1500s</p>
            <div class="text-left"><a href="#" class="btn btn-primary">Read More</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="qnimate" class="off">
  <div id="search" class="open">
    <button data-widget="remove" id="removeClass" class="close" type="button">×</button>
    <form action="#" method="post" autocomplete="off">
      <input type="text" placeholder="Type search keywords here" value="" name="term" id="term">
      <button class="btn btn-primary btn-xl" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
    </form>
  </div>
</div>
